@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  body {
    background-color: #ffffff;
    color: #0D0D0D;
  }

  h1, h2, h3, h4 {
    font-family: var(--font-playfair), Georgia, serif;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
